/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);
$base-color:lighten(rgb(17,241,173),10%);
$font-family: dynamic(arial);
$checkboxfield-checkbox-color: lighten(#000000,30%);